<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="service1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://54.93.189.150:8733/Design_Time_Addresses/WcfHelloService/Service1"
                binding="basicHttpBinding" bindingConfiguration="service1"
                contract="ServiceReference1.IHelloService" name="service1" />
        </client>
    </system.serviceModel>
</configuration>